<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/bars/">Show the bars</a>&nbsp&nbsp
      <a href="/beers/">Show the beers</a>
    </nav>

    <p>Hello, this is a mongoose. This is where a mongoose photo would be.</p>
    
  </body>
</html>
